
build/default.yaml
build/pinyin_simp.prism.bin
build/pinyin_simp.reverse.bin
build/pinyin_simp.schema.yaml
build/pinyin_simp.table.bin
build/qqwb.prism.bin
build/qqwb.reverse.bin
build/qqwb.schema.yaml
build/qqwb.table.bin
build/weasel.yaml
build/wubi86.prism.bin
build/wubi86.reverse.bin
build/wubi86.schema.yaml
build/wubi86.table.bin
build/wubi_trad.prism.bin
build/wubi_trad.schema.yaml
installation.yaml
user.yaml
