build/default.yaml
build/pinyin_simp.prism.bin
build/pinyin_simp.reverse.bin
build/pinyin_simp.schema.yaml
build/pinyin_simp.table.bin
build/qqwb.prism.bin
build/qqwb.reverse.bin
build/qqwb.schema.yaml
build/qqwb.table.bin
build/squirrel.yaml
build/wubi86.prism.bin
build/wubi86.reverse.bin
build/wubi86.schema.yaml
build/wubi86.table.bin
build/wubi_trad.prism.bin
build/wubi_trad.schema.yaml
installation.yaml
user.yaml
wubi86.userdb/000005.ldb
wubi86.userdb/000008.ldb
wubi86.userdb/000009.log
wubi86.userdb/CURRENT
wubi86.userdb/LOCK
wubi86.userdb/LOG
wubi86.userdb/LOG.old
wubi86.userdb/MANIFEST-000007
build/weasel.yaml
build/wubi86_jian.prism.bin
build/wubi86_jian.reverse.bin
build/wubi86_jian.schema.yaml
build/wubi86_jian.table.bin
